<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>Detalhe da Apuração Excluida</h1>
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Inicio</a></li>
      <li class="active">Detalhe da Apuração Excluida</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <!--Box Detalhes-->
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Detalhes</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <!--Inicio Row-->
        <div class="row">
          <!--Detalhes-->
          <div class="col-md-12">
            <p class="sem-espacamento"><strong>N° da Apuração: </strong>{$listaApuracao.0.idCriarApuracao}</p>
            <p class="sem-espacamento"><strong>Data: </strong>{$listaApuracao.0.dataCriacao}</p>
            <p class="sem-espacamento"><strong>Usuário que criou apuração: </strong>{$listaApuracao.0.quemCriouApuracao}</p>
          </div>
          <!--Fim Detalhes-->
        </div>
        <!--Fim Row-->

        <br><hr>

        {loop="$listaApuracao"}
        <!--Inicio Row-->
        <div class="row">
          <div class="col-md-12">
            <h3><strong>Dados Vítima</strong></h3>
          </div>
        </div>
        <!--Fim Row-->

        <div class="row">
          <!--Vitima-->
          <div class="col-md-4">
            <p class="sem-espacamento"><strong>Nome da Vítima: </strong>{$value.nomeVitima}</p>
            {if="$value.sexoVitima == 'm'"}
            <p class="sem-espacamento"><strong>Sexo: </strong>Masculino</p>
            {/if}
            {if="$value.sexoVitima == 'f'"}
            <p class="sem-espacamento"><strong>Sexo: </strong>Feminino</p>
            {/if}
            <p class="sem-espacamento"><strong>CPF: </strong>{$value.cpfVitima}</p>
            <p class="sem-espacamento"><strong>Celular: </strong>{$value.celularVitima}</p>
          </div>
          <!--Fim Vitima-->

          <!--Inicio responsavel-->
          <div class="col-md-4">
            <p class="sem-espacamento"><strong>Responsavel: </strong>{$value.nomeResponsavel}</p>
            <p class="sem-espacamento"><strong>CPF: </strong>{$value.cpfResponsavel}</p>
            <p class="sem-espacamento"><strong>Celular: </strong>{$value.celularResponsavel}</p>
          </div>
          <!--Fim responsavel-->

          <!--Endereco da vitima-->
          <div class="col-md-4">
            <p class="sem-espacamento"><strong>Cep: </strong>{$value.cepVitima}</p>
            <p class="sem-espacamento"><strong>Rua: </strong>{$value.ruaVitima}</p>
            <p class="sem-espacamento"><strong>Numero: </strong>{$value.numeroVitima}</p>
            <p class="sem-espacamento"><strong>Bairro: </strong>{$value.bairroVitima}</p>
            <p class="sem-espacamento"><strong>Cidade: </strong>{$value.cidadeVitima}</p>
            <p class="sem-espacamento"><strong>Estado: </strong>{$value.estadoVitima}</p>
            <p class="sem-espacamento"><strong>Complemento: </strong>{$value.complementoVitima}</p>
          </div>
          <!--Fim Endereco da vitima-->
        </div>
        <!--Fim Row-->
        <br><hr>
        {/loop}

        <br>

        <!--Inicio Row-->
        <div class="row">
          <!--Detalhes-->
          <div class="col-md-12">
            <p class="sem-espacamento"><strong>Tipo da Ocorrência: </strong>{$listaApuracao.0.tipoApuracao}</p>
            <p class="sem-espacamento"><strong>Descrição: </strong>{$listaApuracao.0.descricao}</p>
          </div>
          <!--Fim Detalhes-->
        </div>
        <!--Fim Row-->
        <br>
        <hr>
        <br>

        <div class="row">
          <div class="col-md-12">
            <p class="sem-espacamento"><strong>Quem excluiu: </strong>{$listaApuracao.0.quemExcluiuApuracao}</p>
            <p class="sem-espacamento"><strong>Motivo: </strong>{$listaApuracao.0.motivoExclusao}</p>
          </div>
        </div>

        <br>
        <hr>
        <br>

        <!--Inicio Row-->
        <div class="row">
          <div class="col-md-12">
            
            <a onclick="confirmarReabrir();" class="btn btn-app"><i class="fa fa-inbox"></i>Reabrir</a>

          </div>
        </div>
        <!--Fim Row-->
      </div>
      <!-- /.box-body -->
    </div>
    <!--Fim Box Detalhes-->

  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script>

function confirmarReabrir()
{
  if(confirm("Voce realmente deseja REABRIR essa ocorrência?")){
    location.href="/apuracao-excluida-detalhe/reabrir/{$listaApuracao.0.idApuracaoExcluida}/{$listaApuracao.0.idCriarApuracao}";
  }
}
</script>