<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>Detalhe da Confirmação da Apuração</h1>
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Inicio</a></li>
      <li class="active">Detalhe da Confirmação da Apuração</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <!--Box Detalhes-->
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Detalhes</h3>
      </div>

      <div class="row">
        <div class="col-md-12">
          {if="$error != ''"}
          <div class="alert alert-danger">
            {$error}
          </div>
          {/if}
        </div>
      </div>

      <!-- /.box-header -->
      <div class="box-body">
        <!--Inicio Row-->
        <div class="row">
          <!--Detalhes-->
          <div class="col-md-12">
            <p class="sem-espacamento"><strong>N° da Ocorrência: </strong>{$confirmacaoDetalhe.0.idCriarApuracao}</p>
            <p class="sem-espacamento"><strong>Data: </strong>{$confirmacaoDetalhe.0.dataCriacao}</p>
            <p class="sem-espacamento"><strong>Usuário que criou apuração: </strong>{$confirmacaoDetalhe.0.quemCriouApuracao}</p>
          </div>
          <!--Fim Detalhes-->
        </div>
        <!--Fim Row-->

        <br><hr>

        {loop="$confirmacaoDetalhe"}
        <!--Inicio Row-->
        <div class="row">
          <div class="col-md-12">
            <h3><strong>Dados Vítima</strong></h3>
          </div>
        </div>
        <!--Fim Row-->
        <!--Inicio Row-->
        <div class="row">
          <!--Vitima-->
          <div class="col-md-4">
            <p class="sem-espacamento"><strong>Nome da Vítima: </strong>{$value.nomeVitima}</p>
            {if="$value.sexoVitima == 'm'"}
            <p class="sem-espacamento"><strong>Sexo: </strong>Masculino</p>
            {/if}
            {if="$value.sexoVitima == 'f'"}
            <p class="sem-espacamento"><strong>Sexo: </strong>Feminino</p>
            {/if}
            <p class="sem-espacamento"><strong>CPF: </strong>{$value.cpfVitima}</p>
            <p class="sem-espacamento"><strong>Celular: </strong>{$value.celularVitima}</p>
          </div>
          <!--Fim Vitima-->

          <!--Inicio responsavel-->
          <div class="col-md-4">
            <p class="sem-espacamento"><strong>Responsavel: </strong>{$value.nomeResponsavel}</p>
            <p class="sem-espacamento"><strong>CPF: </strong>{$value.cpfResponsavel}</p>
            <p class="sem-espacamento"><strong>Celular: </strong>{$value.celularResponsavel}</p>
          </div>
          <!--Fim responsavel-->

          <!--Endereco da vitima-->
          <div class="col-md-4">
            <p class="sem-espacamento"><strong>Cep: </strong>{$value.cepVitima}</p>
            <p class="sem-espacamento"><strong>Rua: </strong>{$value.ruaVitima}</p>
            <p class="sem-espacamento"><strong>Numero: </strong>{$value.numeroVitima}</p>
            <p class="sem-espacamento"><strong>Bairro: </strong>{$value.bairroVitima}</p>
            <p class="sem-espacamento"><strong>Cidade: </strong>{$value.cidadeVitima}</p>
            <p class="sem-espacamento"><strong>Estado: </strong>{$value.estadoVitima}</p>
            <p class="sem-espacamento"><strong>Complemento: </strong>{$value.complementoVitima}</p>
          </div>
          <!--Fim Endereco da vitima-->
        </div>
        <!--Fim Row-->
        <br><hr>
        {/loop}

        <br>

        <div class="alert" style="background-color: #FFF3CD; color: #A18532;" role="alert">
          Pelo menos dois conselheiro precisa confirmar a apuração para ser transformada em ocorrência. <br>
          Se dois conselheiro não confirmar essa apuração será apagada.
        </div>

        <!--Inicio Row-->
        <div class="row">
          <div class="col-md-12">
            <h4>Confirmar</h4>
            <p class="sem-espacamento"><strong>Quem abriu confirmação: </strong>{$confirmacaoDetalhe.0.nomeGerouOcorrencia}</p>
            {if="$confirmacaoDetalhe.0.isPositivo == 0"}
            <p class="sem-espacamento"><strong>Confirmações: </strong>00/02</p>
            {/if}
            {if="$confirmacaoDetalhe.0.isPositivo == 1"}
            <p class="sem-espacamento"><strong>Confirmações: </strong>01/02</p>
            {/if}
            {if="$confirmacaoDetalhe.0.isPositivo == 2"}
            <p class="sem-espacamento"><strong>Confirmações: </strong>02/02</p>
            {/if}
            {if="$confirmacaoDetalhe.0.isNegativo == 0"}
            <p class="sem-espacamento"><strong>Confirmações Negadas: </strong>00/02</p>
            {/if}
            {if="$confirmacaoDetalhe.0.isNegativo == 1"}
            <p class="sem-espacamento"><strong>Confirmações Negadas: </strong>01/02</p>
            {/if}
            {if="$confirmacaoDetalhe.0.isNegativo == 2"}
            <p class="sem-espacamento"><strong>Confirmações Negadas: </strong>02/02</p>
            {/if}
          </div>
        </div>
        <!--Fim Row-->

        <br>
        <hr>
        <br>

        <!--Inicio Row-->
        <div class="row">
          <div class="col-md-12">
            
            <a onclick="confirmar()" class="btn btn-app"><i class="fa fa-check"></i>Confirmar</a>

            <a onclick="naoConfirmar()" class="btn btn-app"><i class="fa fa-remove"></i>Não Confirmar</a>            

          </div>
        </div>
        <!--Fim Row-->
      </div>
      <!-- /.box-body -->
    </div>
    <!--Fim Box Detalhes-->

  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script>

function confirmar()
{
  if(confirm("Voce realmente deseja CONFIRMAR essa apuração")){
    location.href="/confirmacao-positivo/{$confirmacaoDetalhe.0.idCriarApuracao}/{$confirmacaoDetalhe.0.idConfirmacaoApuracao}";
  }
}

function naoConfirmar()
{
  if(confirm("Voce realmente deseja NÃO CONFIRMAR essa apuração")){
    location.href="/confirmacao-negativo/{$confirmacaoDetalhe.0.idCriarApuracao}/{$confirmacaoDetalhe.0.idConfirmacaoApuracao}";
  }
}

</script>