<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Solicitações
    </h1>
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Inicio</a></li>
      <li class="active">Solicitações</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-md-3">
        <a href="/ocorrencia-nova-solicitacao/{$idOcorrencia}" class="btn btn-primary btn-block">Nova Solicitação</a>
          <a href="/ocorrencia-detalhe/{$idOcorrencia}" class="btn btn-primary btn-block margin-bottom">Voltar</a>

        <div class="box box-solid">
          <div class="box-header with-border">
            <h3 class="box-title">Pastas</h3>

            <div class="box-tools">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="box-body no-padding">
            <ul class="nav nav-pills nav-stacked">
              <li class="active"><a href="/ocorrencia-solicitacao/{$idOcorrencia}"><i class="fa fa-inbox"></i> Caixa de Entrada
                <span class="label label-primary pull-right">12</span></a></li>
            </ul>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /. box -->
      </div>
      <!-- /.col -->
      <div class="col-md-9">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Ler Solicitação</h3>
          </div>
          {loop="$mensagem"}
          <div id="div-impressao">
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <div class="mailbox-read-info">
                <h3>{$value.assunto}</h3>
                <h5>Para: {$value.nomeDestinatario}</h5>
                <h5>Vítima: {$value.nomeVitima}
                  <span class="mailbox-read-time pull-right">{$value.dataCriacao}</span></h5>
              </div>

              <div class="mailbox-read-message">
                <p style="text-align: justify;">{$value.mensagem}</p>
              </div>
              <!-- /.mailbox-read-message -->
            </div>
            <!-- /.box-body -->
            
            {if="$value.isResposta == '1'"}
            <div class="box-footer">
              <h4>Resposta</h4>

              <p>{$value.resposta}</p>
            </div>
            <!-- /.box-footer -->
            {/if}
          </div>
          {/loop}
          <div class="box-footer">
            <button type="button" id="btn" class="btn btn-default"><i class="fa fa-print"></i> Print</button>
          </div>
          <!-- /.box-footer -->
        </div>
        <!-- /. box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script>
document.getElementById('btn').onclick = function() {
    var conteudo = document.getElementById('div-impressao').innerHTML,
        tela_impressao = window.open('about:blank');

    tela_impressao.document.write(conteudo);
    tela_impressao.window.print();
    tela_impressao.window.close();
};
</script>