<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>Ocorrências Reabertas</h1>
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Inicio</a></li>
      <li class="active">Ocorrências Reabertas</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <div class="box">
      <!-- /.box-header -->
      <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Vítima</th>
              <th>CPF da Vítima</th>
              <th>Data de Criação</th>
              <th>Opções</th>
            </tr>
          </thead>

          <tbody>
            {loop="$listaOcorrencia"}
            {if="$value.statusOcorrencia == 2"}
            <tr>
              <td>{$value.idOcorrencia}</td>
              <td>{$value.nomeVitima}</td>
              <td>{$value.cpfVitima}</td>
              <td>{$value.dataCriacaoOcorrencia}</td>
              <td>
                <a href="/ocorrencia-detalhe/{$value.idOcorrencia}" class="btn btn-default"><i class="fa fa-edit"></i></a>
              </td>
            </tr>
            {/if}
            {/loop}
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->

  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->