<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>Descrição da Ocorrência</h1>
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Inicio</a></li>
      <li class="active">Descrição da Ocorrência</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <!--Box Detalhes-->
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Descrição</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        
        <!--Row-->
        <div class="row">
          <div class="col-md-12">
            <a href="/ocorrencia-descricao-editar/{$idOcorrencia}" class="btn btn-app"><i class="fa fa-edit"></i>Editar</a> 
            <a href="/ocorrencia-detalhe/{$idOcorrencia}" class="btn btn-app"><i class="fa fa-arrow-left"></i>Voltar</a>       
          </div>          
        </div>
        <!--Fim Row-->

        <hr><br>

        {loop="$descricao"}
        <div class="row">
          <div class="col-md-12">
            <p class="sem-espacamento"><strong>Tipo: </strong>{$value.tipoApuracao}</p>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <p class="sem-espacamento"><strong>Descrição: </strong>{$value.descricao}</p>
          </div>
        </div>
        {/loop}
      </div>
      <!-- /.box-body -->
    </div>
    <!--Fim Box Detalhes-->

  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->