<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>Detalhe da Ocorrência - Lista de Agressor</h1>
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Inicio</a></li>
      <li class="active">Detalhe da Ocorrência - Lista de Agressor</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <!--Box Detalhes-->
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Agressor</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">

        <!--Row-->
        <div class="row">
          <div class="col-md-6">
            <a href="/ocorrencia-agressor-cadastrar/{$idOcorrencia}" class="btn btn-app"><i class="fa fa-user-plus"></i>Novo Agressor</a>          
            <a href="/ocorrencia-agressor-enviar-arquivo/{$idOcorrencia}" class="btn btn-app"><i class="fa fa-file-pdf-o"></i>Enviar Documentos</a>
          </div>          
        </div>
        <!--Fim Row-->

        <br>

        <!--Tabela-->
        <table class="table table-hover">
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>CPF / CNPJ</th>
            <th>Tipo</th>
            <th>Status</th>
            <th>Opções</th>
          </tr>
          {loop="$agressor"}
          <tr>
            <td>{$value.idOcorrenciaAgressor}</td>
            <td>{$value.nome}</td>
            {if="$value.isCpf == '1'"}
            <td>{$value.cpf}</td>
            {/if}
            {if="$value.isCpf == '0'"}
            <td>{$value.cnpj}</td>
            {/if}
            {if="$value.isInstituicao == '0'"}
            <td>Pessoa Física</td>
            {/if}
            {if="$value.isInstituicao == '1'"}
            <td>Instituição</td>
            {/if}
            {if="$value.isExcluido == '0'"}
            <td>Ativo</td>
            {/if}
            {if="$value.isExcluido == '1'"}
            <td>Excluido</td>
            {/if}
            <td>
              {if="$value.isExcluido == '1'"}
              <a href="/ocorrencia-agressor-detalhe/{$idOcorrencia}/{$value.isInstituicao}/{$value.idOcorrenciaAgressor}" class="btn btn-default"><i class="fa fa-bars"></i></a>
              {/if}
              {if="$value.isExcluido == '0'"}
              <a href="/ocorrencia-agressor-detalhe/{$idOcorrencia}/{$value.isInstituicao}/{$value.idOcorrenciaAgressor}" class="btn btn-default"><i class="fa fa-bars"></i></a>
              <a href="/ocorrencia-agressor-editar/{$idOcorrencia}/{$value.isInstituicao}/{$value.idOcorrenciaAgressor}" class="btn btn-primary"><i class="fa fa-edit"></i></a>
              <a href="/ocorrencia-agressor-excluir/{$idOcorrencia}/{$value.isInstituicao}/{$value.idOcorrenciaAgressor}" class="btn btn-danger"><i class="fa fa-trash"></i></a>
              {/if}
            </td>
          </tr>
          {/loop}
        </table>
        <!--Fim Tabela-->
      </div>
      <!-- /.box-body -->
    </div>
    <!--Fim Box Detalhes-->

  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->