<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>Detalhe da Ocorrência</h1>
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Inicio</a></li>
      <li class="active">Detalhe da Ocorrência</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <!--Box Detalhes-->
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Detalhes</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <!--Inicio Row-->
        <div class="row">
          <!--Detalhes-->
          <div class="col-md-4">
            <p class="sem-espacamento"><strong>N° da Ocorrência: </strong>{$detalheOcorrencia.0.idOcorrencia}</p>
            <p class="sem-espacamento"><strong>Data: </strong>{$detalheOcorrencia.0.dataCriacaoOcorrencia}</p>
            {if="$detalheOcorrencia.0.statusOcorrencia == 1"}
            <p class="sem-espacamento"><strong>Status: </strong>Aberta</p>
            {/if}
            {if="$detalheOcorrencia.0.statusOcorrencia == 2"}
            <p class="sem-espacamento"><strong>Status: </strong>Reaberta</p>
            {/if}
            {if="$detalheOcorrencia.0.statusOcorrencia == 3"}
            <p class="sem-espacamento"><strong>Status: </strong>Arquivada</p>
            {/if}
            {if="$detalheOcorrencia.0.statusOcorrencia == 4"}
            <p class="sem-espacamento"><strong>Status: </strong>Encerrada</p>
            {/if}
          </div>
          <!--Fim Detalhes-->

          <!--Vitimas-->
          <div class="col-md-4">
            {loop="$detalheOcorrencia"}
            <p class="sem-espacamento"><strong>Nome da Vítima: </strong>{$value.nomeVitima}</p>
            {/loop}
          </div>
          <!--Fim Vitimas-->
        </div>
        <!--Fim Row-->
        
        <br>
        <hr>
        <br>

        <!--Inicio Row-->
        <div class="row">
          <div class="col-md-12">
            
            {if="$detalheOcorrencia.0.statusOcorrencia == 1"}
            <a href="/ocorrencia-vitimas-lista/{$detalheOcorrencia.0.idOcorrencia}" class="btn btn-app"><i class="fa fa-user"></i>Vítimas</a>
            <a href="/ocorrencia-agressor/{$detalheOcorrencia.0.idOcorrencia}" class="btn btn-app"><i class="fa fa-user"></i>Agressor</a>
            <a href="/ocorrencia-descricao/{$detalheOcorrencia.0.idOcorrencia}" class="btn btn-app"><i class="fa fa-list-alt"></i>Descrição</a>
            
            <a href="" class="btn btn-app" onclick="open('/ocorrencia-arquivos/{$detalheOcorrencia.0.idOcorrencia}','','status=no,Width=1000,Height=600');"><i class="fa fa-folder"></i>Arquivos</a>

            <a href="/ocorrencia-solicitacao/{$detalheOcorrencia.0.idOcorrencia}" class="btn btn-app"><i class="fa fa-envelope"></i>Solicitação</a>
            <a onclick="confirmarArquivar();" class="btn btn-app"><i class="fa fa-inbox"></i>Arquivar</a>
            <a onclick="confirmarEncerrar();" class="btn btn-app"><i class="fa fa-archive"></i>Encerrar</a>
            {/if}
            
            {if="$detalheOcorrencia.0.statusOcorrencia == 2"}
            <a href="/ocorrencia-vitimas-lista/{$detalheOcorrencia.0.idOcorrencia}" class="btn btn-app"><i class="fa fa-user"></i>Vítimas</a>
            <a href="/ocorrencia-agressor/{$detalheOcorrencia.0.idOcorrencia}" class="btn btn-app"><i class="fa fa-user"></i>Agressor</a>
            <a href="/ocorrencia-descricao/{$detalheOcorrencia.0.idOcorrencia}" class="btn btn-app"><i class="fa fa-list-alt"></i>Descrição</a>
            
            <a href="" class="btn btn-app" onclick="open('/ocorrencia-arquivos/{$detalheOcorrencia.0.idOcorrencia}','','status=no,Width=1000,Height=600');"><i class="fa fa-folder"></i>Arquivos</a>

            <a href="/ocorrencia-solicitacao/{$detalheOcorrencia.0.idOcorrencia}" class="btn btn-app"><i class="fa fa-envelope"></i>Solicitação</a>
            <a onclick="confirmarArquivar();" class="btn btn-app"><i class="fa fa-inbox"></i>Arquivar</a>
            <a onclick="confirmarEncerrar();" class="btn btn-app"><i class="fa fa-archive"></i>Encerrar</a>
            {/if}

            {if="$detalheOcorrencia.0.statusOcorrencia == 3"}
            <a href="/ocorrencia-arquivos" class="btn btn-app"><i class="fa fa-folder"></i>Arquivos</a>
            <a onclick="confirmarReabrir();" class="btn btn-app"><i class="fa fa-inbox"></i>Reabrir</a>
            {/if}

            {if="$detalheOcorrencia.0.statusOcorrencia == 4"}
            <a href="/ocorrencia-arquivos" class="btn btn-app"><i class="fa fa-folder"></i>Arquivos</a>
            <a onclick="confirmarReabrir();" class="btn btn-app"><i class="fa fa-inbox"></i>Reabrir</a>
            {/if}

          </div>
        </div>
        <!--Fim Row-->
      </div>
      <!-- /.box-body -->
    </div>
    <!--Fim Box Detalhes-->

  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script>
function confirmarArquivar()
{
  if(confirm("Voce realmente deseja ARQUIVAR essa ocorrência?")){
    location.href="/ocorrencia-detalhe/arquivar/{$detalheOcorrencia.0.idOcorrencia}";
  }
}

function confirmarEncerrar()
{
  if(confirm("Voce realmente deseja ENCERRAR essa ocorrência?")){
    location.href="/ocorrencia-detalhe/encerrar/{$detalheOcorrencia.0.idOcorrencia}";
  }
}

function confirmarReabrir()
{
  if(confirm("Voce realmente deseja REABRIR essa ocorrência?")){
    location.href="/ocorrencia-detalhe/reabrir/{$detalheOcorrencia.0.idOcorrencia}";
  }
}
</script>