<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Solicitações
      </h1>
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li class="active">Solicitações</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-3">
          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">Pastas</h3>

              <div class="box-tools">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="box-body no-padding">
              <ul class="nav nav-pills nav-stacked">
                <li><a href="/solicitacoes"><i class="fa fa-inbox"></i> Caixa de Entrada
                  <span class="label label-primary pull-right">12</span></a></li>
                <li class="active"><a href="/solicitacoes-lixeira"><i class="fa fa-trash-o"></i> Lixeira</a></li>
              </ul>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /. box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Lixeira</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <div class="mailbox-controls">
                <a href="/solicitacoes-lixeira" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></a>
              </div>
              <div class="table-responsive mailbox-messages">
                <table class="table table-hover table-striped">
                  <tbody>
                  {loop="$mensagem"}
                  {if="$value.isLixeira == '1'"}
                  <tr>
                    {if="$value.isInstituicao == '1'"}
                    <td><a href="/ler-solicitacao/{$value.idSolicitacao}/1"><i class="fa fa-inbox"></i></a></td>
                    <td class="mailbox-name"><a href="/ler-solicitacao/{$value.idSolicitacao}/1">{$value.nomeDestinatario}</a></td>
                    {/if}
                    {if="$value.isInstituicao == '0'"}
                    <td><a href="/ler-solicitacao/{$value.idSolicitacao}/0"><i class="fa fa-inbox"></i></a></td>
                    <td class="mailbox-name"><a href="/ler-solicitacao/{$value.idSolicitacao}/0">{$value.funcaoDestinatario} </a></td>
                    {/if}
                    <td class="mailbox-subject" style="overflow: hidden; max-width:500px; text-overflow: ellipsis; white-space:nowrap;"><b>{$value.assunto}</b> - {$value.mensagem} {$value.mensagem}
                    </td>
                    <td class="mailbox-date">{$value.dataCriacao}</td>
                  </tr>
                  {/if}
                  {/loop}
                  </tbody>
                </table>
                <!-- /.table -->
              </div>
              <!-- /.mail-box-messages -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer no-padding">
              <div class="mailbox-controls">
                <a href="/solicitacoes-lixeira" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></a>
              </div>
            </div>
          </div>
          <!-- /. box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->